/*
    conventions.txt contains information on how to interpret and visualize the order
    of ID's in the stylesheets
*/

div {
    width: 100px;
    height: 100px;
    display: inline-block;
}

a {
  text-decoration: none;
}

h4 {
  display: inline-flex;
  font-family: "Trebuchet MS", "sansserif";
  font-size: 14px;
  color: #EE8D00;


}

h3 {
  color: green;
  display: inline-block;
  font-family: "Trebuchet MS", "sansserif";
  font-size: 16px;
  letter-spacing: 0;

}

h2 {
  color: red;
  display: inline-block;
  font-family: "Trebuchet MS", "sansserif";
  font-size: 20px;
  letter-spacing: 0;

}




#maxWindow {
  background-color : lightpink;
  width : 100%;
  min-height : 1000px;
  max-height : 2000px;
}
#header {
  width: 100%;
  height: 15%;
  background-color: aqua;
}

#bigMidWindow {
    width: 100%;
    min-height: 800px;
}
#midWindow {
    width: 80%;
    height: 100%;
}
#mainWindow {
  width: 100%;
  min-height: 600px;
  background-color: red;
}
#sortBar {
  width: 99%;
  height: 40px;
  margin: 0.5%;
  align: center;
  background-color: blue;

}
#sort1 {
  width: 3%;

}


#list {
  background-color: orange;
  width: 100%;
  height: 100%;
  min-height: 400px;
}



#leftAdBar {
  float: left;
}

#rightAdBar {
  float: right;
}



.listItem {
  background-color: green;
  height: 10%;
  width: 99%;
  margin: 0.5%;

}
.item {
    height: 90%;
    width: 15%;
    vertical-align: text-top;
    background-color: white;
    margin-top: 0.25%;
    margin-left: 0.25%;
    text-align: center;

}

.ordinal{
  width: 3%;

}

.logoItem {
  height: 90%;
  background-color: transparent;
}
.logo {
  width: 60px;
  height: 35px;
  vertical-align: middle;

}


.code {

}

.textBox {

}

.turnover {

}

.odds {

}

.refLink {

}

.adBars {
    background-color: purple;
    height: 800px;
    width: 10%;
}

.sortingCol {
  width: 15%;
  height: 100%;
  margin-right: 0.25%;
  background-color: #222222;
}
